><div class="container">
    <div class="row">
        <h1>Registrate</h1>

        <i class="material-icons" style="font-size: 200px">person</i>
<!--NOmbre de usuario-->
        <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="ej: Pepe">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
          </mat-form-field>
<!--apellido de usuario-->
<mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Ej: Peréz">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>mat-form-field>

<!--email del usuario-->
<mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="ej:">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
    </div>
</div>
